.header {
    height: 70px;
    background: #6f42c1;
    box-shadow: 0 3px 6px #00000029;
}
.header-icon{
    width: 160px;
    height: 56px;
    background: url('../images/wb_logo_2018.png') no-repeat;
    background-size: cover;
}