.header {
    height: 70px;
    background: #ffffff;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    align-items: center;
}
.header-icon {
    width: 160px;
    height: 32px;
    background: url('../images/amazon-com-logo.svg') 50% no-repeat;
    background-size: contain;
}
.header__btn {
    background: #80bdff;
    border-radius: 5px;
    cursor: pointer;
}

.header__btn-icon {
    background: url("../images/phone-icon.svg") no-repeat;
    width: 15px;
    height: 15px;
    background-size: contain;
    margin-right: 10px;


}
a, a:hover{
    text-decoration: none!important;
    color: black!important;
}