.flex { display: flex; }
.d-col { flex-direction: column; }
.j-end { justify-content: flex-end; }
.j-center { justify-content: center; }
.j-between { justify-content: space-between; }
.a-center { align-items: center; }
.a-end { align-items: flex-end; }
.hidden { display: none; }
